@import "variables";
@import "mixins";
@import "animations";

.about {
  width: 100%;
  height: 80vh;
  display: flex;

  @include respond(mob-nav) {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }

  &__div {
    width: 40%;
    padding: 2rem;

    @include respond(mob-nav) {
      width: 100%;
      text-align: center;
    }

    &--head {
      font-size: 2.5rem;
      color: $color-primary;

      &:first-child {
        margin-bottom: 2rem;
      }
    }

    &--img {
      width: 60%;
      height: 100%;

      @include respond(mob-nav) {
        width: 100%;
      }
    }
    &--p {
      font-size: 2.2rem;
      font-weight: 200;
      margin-bottom: 1.5rem;

      @include respond(tab-land) {
        font-size: 2.3rem;
      }

      @include respond(tab-port) {
        font-size: 2.4rem;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include respond(mob-nav) {
      width: 100%;
    }
  }
}

.link {
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin-top: 1.5rem;
}
