@keyframes change {
  0% {
    background-image: url("./../images/pundit13.png");
  }
  20% {
    background-image: url("./../images/pundit15.png");
  }
  40% {
    background-image: url("./../images/pundit24.png");
  }
  60% {
    background-image: url("./../images/pundit29.png");
  }
  80% {
    background-image: url("./../images/pundit34.png");
  }
  100% {
    background-image: url("./../images/pundit45.png");
  }
}
