@import "variables";
@import "mixins";
@import "animations";

.pictures {
  width: 20%;
  height: 50vh;
  margin-bottom: 3rem;
  border: 0.5rem solid $color-primary;

  @include respond(tab-land) {
    width: 30%;
    height: 40vh;
  }

  @include respond(mob-nav) {
    width: 45%;
    height: 40vh;
  }

  @include respond(phone) {
    width: 90%;
    height: 50vh;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
